version: '2.1'
orbs:
  gradle: circleci/gradle@2.2.0
  android: circleci/android@2.3.0

commands:
  library-setup:
    description: Restore cache, config gradlew, download dependencies and save cache
    steps:
      - restore_cache:
          key: jars-{{ checksum "build.gradle" }}-{{ checksum  "lib/build.gradle" }}
      - run:
          name: Set up library dependencies
          command: |
            ./gradlew wrapper
            ./gradlew lib:androidDependencies
      - save_cache:
          paths:
            - ~/.gradle
          key: jars-{{ checksum "build.gradle" }}-{{ checksum  "lib/build.gradle" }}
jobs:
  android-test:
    executor:
      name: android/android-machine
      resource-class: large
      tag: 2023.05.1
    steps:
      - checkout
      - library-setup
      - android/create-avd:
          avd-name: testDevice
          system-image: system-images;android-30;google_apis;x86
          install: true
      - android/start-emulator:
          avd-name: testDevice
          no-window: true
          post-emulator-launch-assemble-command: echo "Emulator Started"
      - run:
          name: Run Android Tests
          command: ./gradlew lib:connectedDebugAndroidTest
      - store_test_results:
          path: lib/build/outputs/androidTest-results
  test-sonar:
    executor:
      name: android/android-machine
      resource-class: large
      tag: 2023.05.1
    steps:
      - checkout
      - library-setup
      - run:
          name: Run Tests
          command: ./gradlew lib:testDebugUnitTest jacocoTestReport sonarqube
      - store_test_results:
          path: lib/build/test-results/testDebugUnitTest
  deploy-to-sonatype:
    executor:
      name: android/android-machine
      resource-class: large
      tag: 2023.05.1
    steps:
      - checkout
      - library-setup
      - run:
          name: Inject Maven signing key
          command: |
            echo $GPG_SIGNING_KEY \
            | awk 'NR == 1 { print "SIGNING_KEY=" } 1' ORS='\\n' \
            >> gradle.properties
      - run:
          name: Publish to Maven
          command: ./gradlew lib:assemble publish

workflows:
  build-test-sonar-publish:
    jobs:
      - android-test
      - test-sonar:
          context:
            - SonarCloud
            - mobile
      - deploy-to-sonatype:
          name: Deploy to sonatype and build sample apps
          requires:
            - test-sonar
          context:
            - mobile
            - maven-sign
          filters:
            branches:
              only:
                - staging